@import '../../../assets//style/variables';

.memo__textarea {
  border: 1px solid;
  font-size: $font-s-size;
  height: auto;
  margin-bottom: 10px;
  margin-left: 10px;

  textarea {
    border: none;
  }
}
