.memo__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    padding: 10px;

    &-contents {
        display: flex;
    }

    &-button {
        margin-left: 10px;
        width: 30px;
        height: 30px;
    }
}
