.memo__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -10px;
  padding: 10px;
  width: 100%;

  &-contents {
    display: flex;
  }

  &-button {
    height: 30px;
    margin-left: 10px;
    width: 30px;
  }
}
